/*laiout tera como cor principal verde*/
.cab{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #afafaf;
    
}
.nome{
    display: inline-block;
    text-align: center;
    width: 110px;
    display: inline-block;
    color: #103;
    
    
}
img{
    display: inline-block;
    max-width: 50px;
    background: #103;
    padding: 5px 10px;
    border-radius: 50px;
}