/*colorindo setores para fácil desenvolvimento*/
body{
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    outline: 1px solid red;
}
.coluna{
    display: flex;
    flex-direction: column;
}
.cab{
    display: flex;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background: #afafaf;
}

.nome{
    text-decoration: none;
    font-size: x-large;
    font-family:a ;
    margin: 10px;
    background-color: aqua;
    color: #103;
    
}
img{
    max-width: 50px;
    background: #103;
    padding: 5px 10px;
    border-radius: 50px;
}
.tronco{
    display: grid;
    grid-template-columns: 150px 1fr 200px;
    gap: 10px;

}
.setores{
    background: #ff8383;
    padding: 5px 3px;
    width: 150px;
    height: 300px;

}
p{
    background: #818181;
    width: 146px;
    padding: 4px 3px;
    text-align: center;
}
.barradepesquisa{
    margin-left: 90px;
    padding: 4px;
    background: #feaa02;
    border-radius: 100px;
}
.bp{
    width: 200px;
    padding: 5px;
    border-radius: 20px;
    border: none;
}
.BBp{
    border: none;
    padding: 3px;
    border-radius: 100px;
}
.link{
    color: #103;
    text-decoration: none;
}
.central{
    
    background-color: rgba(17, 0, 51, 0.632);
    padding: 10px;
}
.amigos{

    text-align: center;
    background-color: rgb(93, 255, 201);
    max-width: 200px;
    
    padding: 10px;
}